<!-- pagenation -->
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        ErrorLog List
    </button>
    <ul class="dropdown-menu">
        <% for (var i=1; i < fileList.length; i++) {%>
            <li><a class="dropdown-item" href="/errorlog/<%=i %>">
                    <%= fileList[i] %>
                </a></li>
            <% } %>
    </ul>
</div>